modules/__pycache__/
modules/__pycache__/ai.cpython-37.pyc
modules/__pycache__/ban.cpython-37.pyc
modules/__pycache__/cricscore.cpython-37.pyc
modules/__pycache__/delete.cpython-37.pyc
modules/__pycache__/edit.cpython-37.pyc
modules/__pycache__/extract.cpython-37.pyc
modules/__pycache__/filter.cpython-37.pyc
modules/__pycache__/fun.cpython-37.pyc
modules/__pycache__/info.cpython-37.pyc
modules/__pycache__/mute.cpython-37.pyc
modules/__pycache__/notes.cpython-37.pyc
modules/__pycache__/promote.cpython-37.pyc
modules/__pycache__/spam.cpython-37.pyc
modules/__pycache__/welcome.cpython-37.pyc
modules/__pycache__/wiki.cpython-37.pyc

__pycache__/config.cpython-37.pyc
__pycache__/database.cpython-37.pyc
###
__pycache__/
.vscode/
###
Jesvi Bot.code-workspace
.vscode/launch.json
